.App {
  background-color: #000042;
  padding: 20px 20px;
}

.movie-conatiner {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 20px;
}

.movie-box {
  background-color: #3A487F;
  position: relative;
}

.movie-box:hover .movie-image-container{
  filter: brightness(0.3);
}

.movie-overview {
  position: absolute;
  display: none;
  color: white;
  top: 20;
  left: 20;
  z-index: 999;
  padding: 20px 20px;
}

.movie-box:hover .movie-overview {
  display: block;
}

.movie-image {
  max-width: 100%; 
  height: auto; 
}

.movie-text {
  height: 100px;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 0 20px;
}

.movie-text p {
  font-weight: 600;
}
